<ion-content>
  <ion-row class="px-2">
    <ion-col size="6" class="title">
      <ion-button class="transparent-but-start" color="light" type="button" size="small" (click)="onBackBtnClick()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>Payments
    </ion-col>
    <ion-col size="6" style="text-align: right;">
    </ion-col>
  </ion-row>
  <ion-row class="px-2" *ngIf="isUPIScannerView === false">
    <ion-col size="12">
      <ion-button id="open-modal" expand="block">Search Customer</ion-button>
    </ion-col>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Search Customer</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()"><i class="bi bi-x-square"></i></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-searchbar placeholder="Search" [debounce]="500" (ionChange)="searchCustomers($event)"></ion-searchbar>
          <ion-list>
            <ion-item class="customer-info px-3" (click)="onCustomersSelect(custObj)" *ngFor="let custObj of customersData">
              <ion-avatar slot="start">
                <i class="bi bi-person-bounding-box"></i>
              </ion-avatar>
              <ion-label>
                <h3 style="font-weight: 600;">{{custObj.name}}</h3>
                <div class="d-flex gap-2" style="font-size: 12px">
                  <p><span style="font-weight: 600;">Mobile:</span>{{custObj.mobile}}</p>
                  <p><span style="font-weight: 600;">D-No:</span>{{custObj.house_no}}</p>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-row>
  <ion-row class="px-2" *ngIf="isUPIScannerView === false && selectedCustomer !== null">
    <ion-col size="12">
      <table>
        <tbody>
          <tr>
            <td class="title leftAlign">Customer Name :</td>
            <td class="value leftAlign">{{this.selectedCustomer.name}}</td>
          </tr>
          <tr>
            <td class="title leftAlign">Mobile No :</td>
            <td class="value leftAlign">{{this.selectedCustomer.mobile}}</td>
          </tr>
          <tr>
            <td class="title leftAlign">Email :</td>
            <td class="value leftAlign">{{this.selectedCustomer.email}}</td>
          </tr>
        </tbody>
      </table>
    </ion-col>
    <ion-col size="12" *ngIf="this.selectedAddress">
      <ion-list >
        <ion-radio-group [allowEmptySelection]="true" value="{{this.selectedAddress.id}}" (ionChange)="addressChange($event)">
            <ion-row class="border mb-1" style="font-size: 14px;" *ngFor="let addObj of this.selectedCustomerAddress">
              <ion-col size="10">
                <div class="w-100" size="12"><ion-label><b>{{addObj.name}}</b>&nbsp;<span style="font-size: 12px;">[{{addObj.customer_type_name}}<span *ngIf="addObj.category_name !== ''">-{{addObj.category_name}}</span><span *ngIf="addObj.sub_category_name !== ''">-{{addObj.sub_category_name}}</span>]</span></ion-label></div>
                <div class="w-100" size="12"><ion-label>Door No: {{addObj.house_no}},  Pending Amount : {{addObj.amount}}</ion-label></div>
              </ion-col>
              <ion-col size="2" class="d-flex align-items-center justify-content-end">
                <ion-radio value="{{addObj.id}}"></ion-radio>
              </ion-col>
            </ion-row>
        </ion-radio-group>
      </ion-list>
    </ion-col>
    <ion-col  size="12" *ngIf="this.selectedAddress">
      <ion-radio-group class="radioGroup" value="{{this.selectedPayMode}}" (ionChange)="payModeChange($event)">
        <ion-item lines="none">
          <ion-label>Cash</ion-label>
          <ion-radio slot="start" value="cash"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>UPI</ion-label>
          <ion-radio slot="start" value="upi"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <div>
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input [(ngModel)]="this.payingAmt"></ion-input>
        </ion-item>
      </div>
      <div class="my-3">
        <ion-button color="dark" id="open-modal" expand="block" *ngIf="this.selectedPayMode === 'cash'" (click)="confirmPayment()">Paid</ion-button>
        <ion-button color="dark" id="open-modal" expand="block" *ngIf="this.selectedPayMode === 'upi'" (click)="proccedUPIScanner()">Continue</ion-button>
        <ion-button color="dark" id="open-modal" expand="block" (click)="cancelPayment()">Cancel Payment</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="px-2" *ngIf="this.isUPIScannerView === true">
    <ion-col size="12">

    </ion-col>
    <ion-col class="d-flex justify-content-center" size="12">
      <button class="btn btn-dark" (click)="cancelUPI()">Cancel</button>
    </ion-col>
  </ion-row>
</ion-content>
