
<div class="container-fluid app-container" *ngIf="this.authService.getAuthStatus() === true">
  <div class="menu-block">
    <div class="logo-container">
      <img src="assets/cubebioEnergy.jpeg" />
    </div>
    <div class="menu-container">
      <ul>
        <ng-container *ngFor="let menuObj of this.menuData">
          <li [ngClass]="{'menu-item-active':this.selectedMenu === menuObj.value,  'menu-item':this.selectedMenu !== menuObj.value}"  (click)="onMenuClick(menuObj.value)">
            <div [innerHtml]="menuObj.icon"></div>&nbsp;&nbsp;<div class="title">{{menuObj.menuTitle}}</div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <div class="content-block"><router-outlet></router-outlet></div>
  </div>
</div>
<div class="container-fluid login-container" *ngIf="this.authService.getAuthStatus() === false && this.appData.isResetPasswordView === false">
  <app-login></app-login>
</div>
<div class="container-fluid login-container" *ngIf="this.authService.getAuthStatus() === false && this.appData.isResetPasswordView === true">
  <app-resetpassword></app-resetpassword>
</div>

