
.content-area {
  display: flex;
  justify-content: center;

}
.btn-con {
  padding: 20px !important;
  display: flex;
  justify-content: center;
  .title {
    font-weight: 600;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
  }
}
.gray-block {
  background-color: #a5a5a5;
}
.red-block {
  background-color: #c55a11;
}
.brown-block {
  background-color: #bf9000;
}
.green-block {
  background-color: #548235;
}
.leaf-block {
  background-color: #92d050;
}
.default-block{
  background-color: #f7f8fa;
  border: solid .5px #d9d9d9;
  border-radius: 5px;
}
.card-container{
  //display: flex;
  ion-card {
    //margin: 3px !important;
    cursor: pointer;
    //width: 200px;
    ion-card-header,
    ion-row,
    ion-col {
      padding: 0px;
    }
    .holder{
      display: block;
      text-align: center;
      .title {
        width: 100%;
        font-weight: 600;
        font-size: 0.7rem;
        color: #096907;
        text-align: center;
      }
      .icon {
        font-weight: 600;
        font-size: 1.5rem;
        color: #333;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.userinfo {
  .title {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
  }
  .value {
    font-size: 0.8rem;
    text-align: left;
  }
}
.image-con {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  img {
    height: auto;
    width: 64px;
    margin: 10px;
  }
}
