<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <table>
          <tbody>
            <tr>
              <td class="title leftAlign">Name</td>
              <td class="value leftAlign">Uma Maheswar</td>
            </tr>
            <tr>
              <td class="title leftAlign">Designation</td>
              <td class="value leftAlign">Supervisor</td>
            </tr>
            <tr>
              <td class="title leftAlign">Location</td>
              <td class="value leftAlign">Hyderabad</td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
    <ion-row class="content-area">
      <ion-col size="12">
        <ion-card (click)="this.onMenuClick(item.type)" *ngFor="let item of menuData">
          <ion-card-header>
            <ion-row>
              <ion-col size="12" [ngClass]="item.className">
                <div class="title">{{item.title}}</div>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
