.container {
  .content-block{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginBlock{
    width: 500px;
    height: 300px;
    border: 1px solid #dcdada;
  }


  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #d4d4d4;
  }

  .forgotPassBtn{
    border: none !important;
    color: #2bb927;
   background: none !important;
   font-size: 20px;
   font-weight: 500;
  }


}
