<div>
  <div class="loginContainer">
    <div>
      <div size="12" class="headerTitle">
        Welcome back!
      </div>
      <div size="12" class="logoSec">
        <img src="/assets/images/cubebioEnergy.jpeg" style="width: 250px; height:auto">
      </div>
      <div class="loginBlock">
      </div>
      <div size="12" class="forgotPass">
        <a (click)="forgotAlertPrompt()">Forgot Password?</a>
      </div>
      <div size="12" class="footer">
        <p>@ CubeBioEnery | All Rights Reserved </p>
      </div>
    </div>
  </div>
</div>

