<div class="container">
  <div class="d-table">
    <div class="d-table-cell d-flex justify-content-center">
      <div class="login-form text-center w-75">
        <div class="logo">
          <img
            src="/assets/cubebioEnergyLarge.jpeg"
            style="width: 350px; height: auto"
          />
        </div>
        <h2>Create New Password</h2>
        <h6 style="padding: 10px;">Your new password must be defferent from the old password. Must be atleast 6
          characters</h6>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
          <div class="row">
            <div class="col-lg-12 my-2">
              <div class="form-group">
                <input formControlName="newPassword"
                  [class.is-invalid]="formObj('newPassword').touched && formObj('newPassword').invalid" type="password"
                  class="form-control" placeholder="Enter New Password">
              </div>
            </div>
            <div class="col-lg-12 my-2">
              <div class="form-group">
                <input formControlName="confirmPassword"
                  [class.is-invalid]="formObj('confirmPassword').touched && formObj('confirmPassword').invalid"
                  type="password" class="form-control" placeholder="Enter Confirm Password">
              </div>
            </div>
          </div>
          <div class="text-danger my-2" style="padding-bottom: 5px; text-align: center;" *ngIf="this.isFormAsError == true">
            {{errorDetails}}
          </div>
          <div style="padding: 5px; my-2">
            <button type="button" (click)="closeDialog()" class="btn btn-dark">login</button>&nbsp;
            <button type="submit" class="btn btn-success">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
