<ion-app>
  <div class="login-container" *ngIf="isAppReady === true && this.apiService.isUserLoggedIn === false">
    <ion-router-outlet></ion-router-outlet>
  </div>
  <ion-menu side="start" contentId="content" *ngIf="isAppReady === true && this.apiService.isMobileUser === true && this.apiService.isUserLoggedIn === true">
    <ion-header>
      <ion-toolbar>
        <div style="display: flex; align-items:center; width:100%; height: 100%">
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class="menu-item" (click)="viewHome()">
          <ion-icon name="home" style="font-size:18px;"></ion-icon>&nbsp;Home
        </ion-item>
        <ion-item class="menu-item" (click)="viewProfile()">
          <ion-icon name="person-circle" style="font-size:18px;"></ion-icon>&nbsp;My Profile
        </ion-item>
        <ion-item class="menu-item" (click)="logout()">
          <ion-icon name="log-out" style="font-size:18px;"></ion-icon>&nbsp;Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-header *ngIf="isAppReady === true && this.apiService.isMobileUser === true && this.apiService.isUserLoggedIn === true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-row slot="end">
        <ion-col><img src="assets/images/cubebioEnergy1.png" style="height: 45px; width:auto"></ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="isAppReady === true && this.apiService.isMobileUser === true && this.apiService.isUserLoggedIn === true">
    <ion-router-outlet id="content"></ion-router-outlet>
  </ion-content>
  <div class="desktop-container" *ngIf="isAppReady === true && this.apiService.isMobileUser === false && this.apiService.isUserLoggedIn === true">
    <ion-grid class=" p-5">
      <ion-row>
        <ion-col class="py-2" size="12">
          <img src="assets/images/cubebioEnergy1.png" style="height: 55px; width:auto">
        </ion-col>
        <ion-col class="py-2" size="12">
            Your are not autorised to login in mobile. Please login to web.
        </ion-col>
        <ion-col class="py-2 text-center" size="12">
          <button class="btn btn-dark" (click)="logout()">Logout</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-app>
