.changePassword {
  border: 1px solid #333;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  .header {
    background-color: #f1f1f1;
    padding: 10px 5px;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
