ion-card {
  margin: 5px !important;
  ion-card-header,
  ion-row,
  ion-col {
    padding: 0px;
  }
}
.content-area {
  display: flex;
  justify-content: center;
}
.btn-con {
  padding: 10px !important;

  .title {
    font-weight: 600;
    font-size: 1rem;
  }
  .desc {
    margin-top: 5px;
    font-size: 0.8rem;
  }
}
ion-card {
  cursor: pointer;
}
.userinfo {
  .title {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
  }
  .value {
    font-size: 0.8rem;
    text-align: left;
  }
}
.image-con {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  img {
    height: auto;
    width: 64px;
    margin: 10px;
  }
}
