<div class="row page-container">
  <div class="col-12 page-header">
    <div class="col-12 nav-block">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="row" style="width: 100%; padding: 0px; margin: 0px">
          <div class="col-6 d-flex align-items-center">
            <div class="breadcrumbs" style="width: 100%">Settings</div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row m-2 page-container">
    <div class="col-12 my-4 page-content">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-state-tab" data-bs-toggle="tab" data-bs-target="#nav-state"
            type="button" role="tab" aria-controls="nav-state" aria-selected="true" (click)="onTabSelect('state')">
            States and Cities
          </button>
          <button class="nav-link" id="nav-category-tab" data-bs-toggle="tab" data-bs-target="#nav-projects"
            type="button" role="tab" aria-controls="nav-category" aria-selected="false" (click)="onTabSelect('projects')">
            Project Types
          </button>
          <button class="nav-link" id="nav-category-tab" data-bs-toggle="tab" data-bs-target="#nav-customertype"
            type="button" role="tab" aria-controls="nav-category" aria-selected="false"  (click)="onTabSelect('customertype')">
            Customer Types
          </button>
          <button class="nav-link" id="nav-category-tab" data-bs-toggle="tab" data-bs-target="#nav-userroles"
            type="button" role="tab" aria-controls="nav-category" aria-selected="false"  (click)="onTabSelect('userroles')">
            User Roles
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <!-- States cities and wards -->
        <div class="tab-pane fade show active" id="nav-state" role="tabpanel" aria-labelledby="nav-state-tab">
          <div class="row d-flex my-3">
            <div class="col-5 block">
              <div class="block-title mb-2">States</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New State" [(ngModel)]="this.newState">
                <button type="button" class="btn btn-dark" (click)="createState()"
                  [disabled]="this.newState.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showStateLoader === false && this.statesData.length === 0">
                  No States Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showStateLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showStateLoader === false && this.statesData.length > 0">
                  <a type="button" (click)="onStateSelect(stateObj)"
                    [ngClass]="this.selectedState['state_id'] === stateObj['state_id'] ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'"
                    *ngFor="let stateObj of this.statesData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{stateObj['state_name']}} <button type="button" class="btn btn-sm btn-dark"
                        data-bs-toggle="modal" data-bs-target="#editModal"
                        (click)="showEditModal(stateObj, 'state'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="block-title mb-2">Cities/Towns</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New City/Town" [(ngModel)]="this.newCity">
                <button type="button" class="btn btn-dark" (click)="createCity()"
                  [disabled]="this.selectedState === null || this.newCity.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showCityLoader === false && this.citiesData.length === 0">
                  No Cities/Towns Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showCityLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showCityLoader === false && this.citiesData.length > 0">
                  <a type="button" (click)="onCitySelect(cityObj)"
                    [ngClass]="this.selectedCity['city_id'] === cityObj['city_id'] ? 'list-group-item list-group-item-action active':'list-group-item list-group-item-action'"
                    *ngFor="let cityObj of this.citiesData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{cityObj['city_name']}} <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        (click)="showEditModal(cityObj, 'city'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!--<div class="col-4">
              <div class="block-title mb-2">Wards</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New Ward" [(ngModel)]="this.newWard">
                <button type="button" class="btn btn-dark" (click)="createWard()"
                  [disabled]="this.selectedState === null || this.selectedCity === null || this.newWard.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showWardLoader === false && this.wardsData.length === 0">
                  No Wards Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showWardLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showWardLoader === false && this.wardsData.length > 0">
                  <a type="button" (click)="onWardSelect(wardObj)" class="list-group-item list-group-item-action"
                    *ngFor="let wardObj of this.wardsData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{wardObj['ward_name']}} <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        (click)="showEditModal(wardObj, 'ward'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>-->
          </div>
        </div>
         <!-- Project -->
         <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-category-tab">
          <div class="row d-flex my-3">
            <div class="col-6">
              <div class="block-title mb-2">Project Types</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New Project Type" [(ngModel)]="this.newProject">
                <button type="button" class="btn btn-dark" (click)="createProject()"
                  [disabled]="this.newProject.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showProjectLoader === false && this.projectsData.length === 0">
                  No ProjectTypes Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showProjectLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showProjectLoader === false && this.projectsData.length > 0">
                  <a type="button" (click)="onProjectSelect(projectObj)" class="list-group-item list-group-item-action"
                    *ngFor="let projectObj of this.projectsData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{projectObj['project_type_name']}} <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        (click)="showEditModal(projectObj, 'project'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- User Roles -->
         <div class="tab-pane fade" id="nav-userroles" role="tabpanel" aria-labelledby="nav-category-tab">
          <div class="row d-flex my-3">
            <div class="col-6">
              <div class="block-title mb-2">User Roles</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New User Role" [(ngModel)]="this.newUserRole">
                <button type="button" class="btn btn-dark" (click)="createUserRole()"
                  [disabled]="this.newUserRole.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showUserRoleLoader === false && this.userRolesData.length === 0">
                  No User Roles Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showUserRoleLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showUserRoleLoader === false && this.userRolesData.length > 0">
                  <a type="button" (click)="onUserRoleSelect(userRoleObj)" class="list-group-item list-group-item-action"
                    *ngFor="let userRoleObj of this.userRolesData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{userRoleObj['role_name']}} <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        (click)="showEditModal(userRoleObj, 'userRole'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Customer Types, Categories and Sub Catigories -->
        <div class="tab-pane fade" id="nav-customertype" role="tabpanel" aria-labelledby="nav-category-tab">
          <div class="row d-flex my-3">
            <div class="col-4 block">
              <div class="block-title mb-2">Customer Type</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New Customer Type" [(ngModel)]="this.newCustomerType">
                <button type="button" class="btn btn-dark" (click)="createCustomerType()"
                  [disabled]="this.newCustomerType.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showCustomerTypesLoader === false && this.customerTypesData.length === 0">
                  No Customer Types Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showCustomerTypesLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showCustomerTypesLoader === false && this.customerTypesData.length > 0">
                  <a type="button" (click)="onCustomerTypeSelect(custTypeObj)"
                    [ngClass]="this.selectedCustomerType['customer_type_id'] === custTypeObj['customer_type_id'] ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'"
                    *ngFor="let custTypeObj of this.customerTypesData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{custTypeObj['customer_type']}} <button type="button" class="btn btn-sm btn-dark"
                        data-bs-toggle="modal" data-bs-target="#editModal"
                        (click)="showEditModal(custTypeObj, 'customertype'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="block-title mb-2">Category</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New Category" [(ngModel)]="this.newCategory">
                <button type="button" class="btn btn-dark" (click)="createCategory()"
                  [disabled]="this.selectedCustomerType === null || this.newCategory.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showCatLoader === false && this.categoriesData.length === 0">
                  No Categories Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showCatLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showCatLoader === false && this.categoriesData.length > 0">
                  <a type="button" (click)="onCategorySelect(catObj)"
                    [ngClass]="this.selectedCategory['category_id'] === catObj['category_id'] ? 'list-group-item list-group-item-action active':'list-group-item list-group-item-action'"
                    *ngFor="let catObj of this.categoriesData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{catObj['category_name']}} <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        (click)="showEditModal(catObj, 'category'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="block-title mb-2">Sub Category</div>
              <div class="block-form d-flex mb-2">
                <input type="text" class="form-control" placeholder="Enter New SubCategory" [(ngModel)]="this.newSubCategory">
                <button type="button" class="btn btn-dark" (click)="createSubCategory()"
                  [disabled]="this.selectedCustomerType === null || this.selectedCategory === null || this.newSubCategory.trim() === ''">Add</button>
              </div>
              <div class="block-content">
                <div class="alert alert-light text-center" role="alert" *ngIf="this.showSubCatLoader === false && this.subCategoriesData.length === 0">
                  No Sub Categories Added
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="this.showSubCatLoader === true">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;&nbsp;Loading...
                </div>
                <div class="list-group" *ngIf="this.showSubCatLoader === false && this.subCategoriesData.length > 0">
                  <a type="button" (click)="onWardSelect(subCatObj)" class="list-group-item list-group-item-action"
                    *ngFor="let subCatObj of this.subCategoriesData">
                    <div class="d-flex justify-content-between align-items-center">
                      {{subCatObj['sub_category_name']}} <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        (click)="showEditModal(subCatObj, 'subcategory'); $event.stopPropagation()"><i
                          class="bi bi-pencil-square"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="editModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-4">
              <div *ngIf="this.editType === 'state'"><b>Edit State</b></div>
              <div *ngIf="this.editType === 'city'"><b>Edit City</b></div>
              <div *ngIf="this.editType === 'ward'"><b>Edit Ward</b></div>
              <div *ngIf="this.editType === 'category'"><b>Edit Category</b></div>
              <div *ngIf="this.editType === 'subcategory'"><b>Edit Sub Category</b></div>
              <div *ngIf="this.editType === 'customertype'"><b>Edit Customer Type</b></div>
              <div *ngIf="this.editType === 'project'"><b>Edit Project</b></div>
              <div *ngIf="this.editType === 'userRole'"><b>Edit User Role</b></div>
              <div class="mt-4">
                <input type="text" class="form-control" placeholder="Enter label" [(ngModel)]="this.editValue">
              </div>
              <div class="mt-5 d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" #closeModal>
                  Cancel
                </button>
                <button type="button" class="btn btn-success" (click)="editSubmit()">
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
